:root {
  --mainColor: #366d66;
  --hoverColor: #f5757d;
}
.text-mainColor {
  color: var(--mainColor);
}
/* navbar */
a.navbar-brand {
  width: 100px;
}
.btnNav.btn-outline-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #366d66;
  --bs-btn-border-color: #366d66;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-color: #366d66;
  --bs-btn-hover-border-color: #366d66;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #366d66;
  --bs-btn-active-border-color: #366d66;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #366d66;
  --bs-btn-disabled-border-color: #366d66;
}
button a.navLink {
  color: #fff;
}
button:hover a.navLink {
  color: var(--mainColor);
}
.navbar {
  --bs-navbar-color: var(--mainColor);
  --bs-navbar-hover-color: var(--hoverColor);
  --bs-navbar-active-color: var(--hoverColor);
}

.nav-link {
  color: var(--mainColor);
  font-size: 20px;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu {
  --bs-dropdown-color: var(--mainColor);
  --bs-dropdown-link-color: var(--mainColor);
  --bs-dropdown-link-hover-color: var(--hoverColor);
  --bs-dropdown-link-active-color: var(--mainColor);
  --bs-dropdown-link-active-bg: transparent;
}

/* mainSection */

.main {
  background-color: #366d66;
  margin-top: 90px;
  min-height: 75vh;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
figure.mainImg {
  background-image: url("../img/home/ddd9ab7d-ellipse-3.png");
  background-size: 60%;
  background-position: 18% 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}

.footImg {
  position: absolute;
  bottom: 0%;
  left: -20px;
  z-index: -1;
}
.caption h2 {
  font-size: 40px;
}

.mapImg {
  position: absolute;
  bottom: 20px;
  right: 0;
  z-index: 3;
  text-align: end;
}
.mapImg img {
  width: 200px;
}

.card-container {
  display: flex;
}
.card-container:nth-child(even) {
  flex-direction: column-reverse;
}

.exploreImg {
  background-image: url("../img/home/1223bb05-group-81.png");
  background-repeat: no-repeat;
  background-size: 150px;
}

figcaption.imgPosition {
  position: absolute;
  bottom: 160px;
  left: -50px;
  z-index: -1;
}

@media screen and (min-width: 1200px) {
  .carousel.slide.carousel-fade {
    width: 75%;
    margin-inline: auto;
  }
}
@media screen and (max-width: 768px) {
  .card-container:nth-child(even) {
    flex-direction: row;
  }
}

@media screen and (max-width: 500px) {
  .caption h2 {
    font-size: 20px;
  }
  .mapImg img {
    width: 150px;
  }
  figcaption.imgPosition {
    bottom: 100px;
  }
}

figcaption.layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--mainColor);
  width: 200px;
  font-weight: 500;
}
.imgHeight {
  height: 400px;
}

.icons .box-icon {
  --boxW-H: 3rem;
  width: var(--boxW-H);
  height: var(--boxW-H);
  background-color: #519d93;
  font-size: 20px;
  margin-right: 5px;
  transition: 1s all;
}

.icons .box-icon:hover {
  background-color: var(--hoverColor);
  transform: scale(0.8);
}
a.webLinks {
  color: black;
  transition: 0.7s all;
}
a.webLinks:hover {
  color: var(--hoverColor);
  margin-left: 10px;
}

footer .box {
  background-color: var(--mainColor);
  color: #fff;
}

/*style shared*/
/* .btn:hover {
  background-color: #eeeeeeb0;
} */
.btn.btn-yellow,
.bg-mainColor {
  background-color: var(--mainColor);
  color: #fff;
}
.btn-yellow:hover,
.btn-yellow:focus {
  background-color: transparent;
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
}

/* make trip */
.pointer,
input,
input + label {
  cursor: pointer;
}

#makeTrip figcaption {
  transform: translateY(100%);
  transition: all 1s;
  overflow: hidden;
}

#makeTrip figure i {
  transform: translateX(300%);
  transition: all 1s;
}

#makeTrip figure img {
  transition: all 1s;
}
#makeTrip figure:hover img {
  transform: scale(1.1);
}

@media (max-width: 767px) {
  #makeTrip figcaption {
    justify-content: center;
  }
  #makeTrip figcaption h3 {
    font-size: 40px;
  }
}

#makeTrip #main input[type="radio"],
#makeTrip input[name="date_approximate_start"] {
  visibility: hidden;
}
#makeTrip figure:hover i,
#makeTrip figure:hover figcaption,
#makeTrip input:checked + label figure i,
#makeTrip input:checked + label figure figcaption {
  transform: translateY(0);
}

#makeTrip input[type="radio"]:checked + label,
#makeTrip input[type="radio"]:checked {
  accent-color: var(--mainColor);
  color: var(--mainColor);
}

#makeTrip #secondSec button,
#makeTrip #lastSec button {
  margin-inline: 5px;
}

#makeTrip input:not([type="range"]) {
  border: #dee2e6 1px solid;
  width: unset;
}

#makeTrip #lastSec textarea:focus {
  outline: 0;
}

#makeTrip input.w-20 {
  width: 20px;
}

.package-included-location .p-list .list {
  background: var(--mainColor);
}
.package-included-location .single-blog:after {
  content: "";
  position: absolute;
  top: 15%;
  width: 0%;
  height: 90%;
  border: 3px solid var(--mainColor);
  left: -18%;
  z-index: 4;
}

@media only screen and (min-width: 1200px) {
  .package-included-location .single-blog:after {
    left: -18.5%;
  }
}
@media only screen and (max-width: 420px) {
  .package-included-location .single-blog:after {
    top: 22%;
    height: 83%;
  }
}

.single-widget-search-input {
  margin-bottom: 10px;
}

.container-bg {
  width: 90%;
  margin-inline: auto;
  padding-block: 50px;
  background: #ffffff;
}
.tour-details-gallery .book-list-warp .book-list-content,
.tour-details-gallery .tp-list-meta li,
.tour-details-gallery .tp-list-meta li i,
.tp-tabs li a {
  color: var(--mainColor);
}

.faq-tab-content .faq-details,
.tp-tabs li a.active,
.tp-tabs li a:after {
  background-color: var(--mainColor) !important;
}
.faq-tab-content .faq-details h6 {
  color: #fff;
  text-decoration: underline;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--hoverColor);
}

/* sign up */

.body-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(2, 0, 0, 0.6);
  z-index: 9999;
  content: "";
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==),
    progress;
}

.body-overlay.active {
  visibility: visible;
  opacity: 0.9;
}

.login-register-popup.active {
  visibility: visible;
  opacity: 1;
}

.login-register-popup {
  background: #ffffff;
  position: absolute;
  position: fixed;
  top: 58%;
  left: 50%;
  width: 65%;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Chrome, Safari, Opera */
  transform: translate(-50%, -50%);
  max-height: calc(100% - 15%);
  transition: 0.5s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
  -webkit-box-shadow: 0px 2px 69px #97a1b238;
  box-shadow: 0px 2px 69px #97a1b238;
  border-radius: 10px;
}

.login-register-popup-wrap .shape-thumb {
  position: absolute;
  top: -44px;
  left: -9px;
  z-index: 8;
}

.login-form-wrap {
  background: #ffffff;
  margin: 20px 50px 20px 80px;
  padding: 20px 30px;
  border-radius: 10px;
  position: relative;
  z-index: 5;
  -webkit-box-shadow: -1px 12px 21px #071c5526;
  box-shadow: -1px 12px 21px #071c5526;
}
.login-form-wrap:after {
  content: "";
  position: absolute;
  left: -27px;
  right: 0;
  top: 5%;
  bottom: 0;
  height: 90%;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  z-index: -1;
  opacity: 0.95;
}
.login-form-wrap h4 {
  font-weight: 700;
  margin-bottom: 40px;
}
.login-form-wrap .single-input-wrap {
  position: relative;
}
.login-form-wrap .single-input-wrap input {
  font-weight: 200;
  margin-bottom: 10px;
}

.login-form-wrap .single-input-wrap .single-input-title {
  font-weight: 400;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 3px;
  height: 79%;
  width: 45px;
  text-align: center;
  border-left: 1px solid #cfd3de;
  font-weight: 200;
}
.login-form-wrap .single-input-wrap .btn {
  margin-top: 20px;
  height: 40px;
}

.login-form-wrap .social-wrap p {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .login-register-popup {
    width: 100%;
  }
  .login-form-wrap {
    margin: 10px;
  }
}
/* about slider */
#carousel {
  height: 300px;
  width: 100%;
  background-color: #fff;
  position: relative;
  margin-bottom: 0.5em;
}

#carousel .shadow {
  -moz-box-shadow: 0px 16px 26px #888888;
  -webkit-box-shadow: 0px 16px 26px #888888;
  box-shadow: 0px 16px 26px #888888;
}

#carousel .slide {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}

#carousel .slide :hover img {
  margin-top: 2px;
  transform: scale(1.2);
}
#carousel .slide :hover span {
  bottom: 0;
}

#carousel .slide img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

#carousel .slide div {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#carousel .slide span {
  background-color: #00000071;
  color: var(--mainColor);
  font-size: 0.8em;
  font-family: sans-serif;
  position: absolute;
  padding: 5px;
  width: 100%;
  bottom: -100%;
  left: 0;
  z-index: 99;
  transition: all 1s;
}
#carousel .slide span a,
#carousel .slide span a i {
  color: white;
  transition: all 1s;
}
#carousel .slide span a:hover i {
  color: var(--mainColor);
  transform: scale(2);
}
#carousel .navigate-left,
#carousel .navigate-right {
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  /* visibility: hidden; */
}

@media screen and (max-width: 500px) {
  #carousel .navigate-right,
  #carousel .navigate-left {
    visibility: visible;
  }
}
